.searchBar {
    float: left;
    width: 280px;
    margin-top: 9px;
}
.searchBar form {
    float: left;
    width: 100%;
    position: relative;
}
.searchBar form input {
    width: 100%;
    background-color: #fff;
    height: 38px;
    color: #b2b2b2;
    font-size: 12px;
    border: 0;
    padding: 0 10px;
    border-radius: 3px;
}
.searchBar form button {
    position: absolute;
    top: 0;
    right: 0;
    background-color: #efefef;
    width: 38px;
    height: 100%;
    border: 0;
    border-radius: 3px;
}
.searchBar form button i {
    color: #0f91b8;
    font-size: 20px;
    font-weight: bold;
}