.navigation {
  float: left;
  width: 60%;
  text-align: right;
  padding-right: 13px;
}
.navigation ul {
  margin-bottom: 0px;
}
.navigation ul li {
  display: inline-block;
  text-align: center;
  position: relative;
}
.navigation ul li a {
  display: block;
  padding: 10px;
  font-size: 14px;
  transition: all 0.4s ease-in;
  text-align: center;
  color: #fff;
}
.navigation ul li a.active {
  background-color: #0c83a7;
}
.navigation ul li a p {
  color: #ffffff;
}
.navigation ul li span {
  display: block;
  height: 14px;
}
.navigation ul li span img {
  float: none;
}
