.userAccount {
  float: right;
  width: 110px;
  border-left: 1px solid #0c83a7;
  box-sizing: border-box;
  position: relative;
}
.userInfo {
  float: left;
  width: 100%;
  padding: 13px 10px;
  position: relative;
}
.userInfo div {
  float: left;
  margin-right: 10px;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  -ms-border-radius: 100px;
  -o-border-radius: 100px;
  border-radius: 100px;
  height: 32px;
  width: 32px;
  background-color: #fff;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.userInfo span {
  color: #fff;
  font-size: 14px;
  float: left;
  margin-top: 8px;
  transition: all 0.4s ease-in;
  font-weight: bold;
}
.userInfo.active {
  background-color: #0c83a7;
}