.profilesTitle {
    float: left;
    width: 100%;
    margin-bottom: 20px;
    padding: 30px 15px;
}
.profilesTitle h3 {
    color: #000000;
    font-size: 20px;
    font-weight: 600;
    background-color: #fff;
    padding: 10px 15px;
}